body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "Poppins", sans-serif;
    margin: 0; */
    min-height: 100vh;
}


button {
    background-color: blue;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;

}
